doctype
html(lang="en")
head
	meta(charset="UTF-8")
	title todo-webapp
	meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0")
	link(rel="stylesheet", href="assets/css/base.css")
	link(rel="stylesheet", href="assets/css/main.css")
	link(rel="stylesheet", href="assets/vendor/pure.min.css")
body
	header
		div.pure-g
			.pure-u-1-3
			.pure-u-1-3.tc Todo App
			.pure-u-1-3
	main
		.container
			form.pure-form
				fieldset
					.pure-g
						.pure-u-2-3
							input(placeholder="Create your task !")
						.pure-u-1-3
							button.pure-button.pure-button-primary(type="submit") Create
			h4 These are things you're going to do
			ul.taskList
				li
					label.pure-checkbox(for="option-1")
						input#option-1(type="checkbox",value="")
						span.task Here is task 1
				li
					label.pure-checkbox(for="option-2")
						input#option-2(type="checkbox",value="")
						span.task Here is task 2
			h4 These are things you've finished
			ul.taskList.finished
				li
					label.pure-checkbox(for="option-1")
						input#option-1(type="checkbox",value="",checked)
						del.task Here is task 1
				li
					label.pure-checkbox(for="option-2")
						input#option-2(type="checkbox",value="",checked)
						del.task Here is task 2