// base
$blue: #1F8DD6;
$gray: #7C7C7C;
$light-gray: #D1D1D1;

// global
html,body{
	width: 100%;
	height: 100%;
}

// header
header{
	width: 100%;
	height: 60px;
	background: $blue;
	& > div{
		line-height: 60px;
		color: #fff;
	}
}

// main
.container{
	padding: 10px;
	button{
		width: 100%;
		margin: 0 !important;
	}
	h4.finish{
		color: #ccc;
	}
	ul{
		padding: 0;
		margin: 0;
		border: 1px solid $light-gray;
		border-radius: 4px;
		li{
			padding: 20px 10px;
			border-bottom: 1px solid $light-gray;
			&:last-of-type{
				border-bottom: 0 none;
			}
		}
		.task{
			margin-left: 10px;
			color: $gray;
		}
	}
}