@charset "UTF-8";
/*css reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, 'Hiragino Sans GB' , Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  text-decoration: none; }

/*fonts*/
.f12 {
  font-size: 12px; }

.f13 {
  font-size: 13px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f20 {
  font-size: 20px; }

.fb {
  font-weight: bold; }

.fn {
  font-weight: normal; }

.lh150 {
  line-height: 150%; }

.lh180 {
  line-height: 180%; }

.lh200 {
  line-height: 200%; }

.unl {
  text-decoration: underline; }

.no_unl {
  text-decoration: none; }

.upper {
  text-transform: uppercase; }

.ls1 {
  letter-spacing: 1px; }

.ls2 {
  letter-spacing: 2px; }

/*postitions*/
.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.bc {
  margin-left: auto;
  margin-right: auto; }

.fl {
  float: left;
  display: inline; }

.fr {
  float: right;
  display: inline; }

.cb {
  clear: both; }

.cl {
  clear: left; }

.cr {
  clear: right; }

.vt {
  vertical-align: top; }

.vm {
  vertical-align: middle; }

.vb {
  vertical-align: bottom; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.zomm {
  zoom: 1; }

.hidden {
  overflow: hidden; }

.none {
  display: none; }

/*postion*/
.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.pt10 {
  padding-top: 10px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pt40 {
  padding-top: 40px; }

.pt50 {
  padding-top: 50px; }

.pb10 {
  padding-bottom: 10px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.pb40 {
  padding-bottom: 40px; }

.pb50 {
  padding-bottom: 50px; }

.mg10 {
  margin: 10px; }

.mg20 {
  margin: 20px; }

.mg30 {
  margin: 30px; }

.mg40 {
  margin: 40px; }

.mg50 {
  margin: 50px; }

.pd10 {
  padding: 10px; }

.pd20 {
  padding: 20px; }

.pd30 {
  padding: 30px; }

.pd40 {
  padding: 40px; }

.pd50 {
  padding: 50px; }
