html, body {
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 60px;
  background: #1f8dd6; }
  header > div {
    line-height: 60px;
    color: #fff; }

.container {
  padding: 10px; }
  .container button {
    width: 100%;
    margin: 0 !important; }
  .container h4.finish {
    color: #ccc; }
  .container ul {
    padding: 0;
    margin: 0;
    border: 1px solid #d1d1d1;
    border-radius: 4px; }
    .container ul li {
      padding: 20px 10px;
      border-bottom: 1px solid #d1d1d1; }
      .container ul li:last-of-type {
        border-bottom: 0 none; }
    .container ul .task {
      margin-left: 10px;
      color: #7c7c7c; }
